@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./components-view.css');

vaadin-button {
    border: 1px solid var(--lumo-shade-10pct);
}

vaadin-button[theme~='tertiary'] {
    border: none;
}

vaadin-login-form-wrapper {
    background: none;
}

html {
    --vaadin-input-field-border-width: 1px;
    --vaadin-input-field-border-color: var(--lumo-shade-10pct);
}

.quizview {
    counter-reset: question;

    vaadin-card {
        margin-bottom: 2em;
        background: url(marble.jpg);
        background-size: 150% 150%;

        img {
             filter: sepia(1);
             mask-image: linear-gradient(to bottom, black 30%, transparent 80%);
             mask-repeat: no-repeat;
             mask-size: 100% 100%;
         }

         div[card-string-title] {
             font-family: "Times New Roman", Times, serif;
             font-size: 2.5em;
             text-transform: uppercase;
             letter-spacing: 0.005em;
             line-height: 0.8em;
             font-weight: bold;
             margin-top: -1em;
             background-clip: text;
             color: rgba(255,255,255,0.3);
             text-shadow:
               0 -0.05em 0.03em rgba(0,0,0,0.6),
               0.02em 0.025em 0.02em rgba(255,255,255,0.8);
         }

        div[card-string-title]::before {
	      content: counter(question, upper-roman);
	      counter-increment: question;
	      font-size: 200%;
	      line-height: 1em;
	      position:absolute;
	      margin-top: -1em;
		}
    }

}

/*
html {
    --lumo-border-radius: 6px;
    --lumo-primary-text-color: rgb(217, 8, 112);
    --lumo-primary-color-50pct: rgba(217, 8, 112, 0.5);
    --lumo-primary-color-10pct: rgba(217, 8, 112, 0.1);
    --lumo-primary-color: hsl(330, 93%, 44%);
}
*/

[theme~="dark"] {
    --lumo-border-radius: 0px;
    --lumo-primary-text-color: rgb(20, 179, 147);
    --lumo-primary-color-50pct: rgba(20, 179, 147, 0.5);
    --lumo-primary-color-10pct: rgba(20, 179, 147, 0.1);
    --lumo-primary-color: hsl(168, 80%, 39%);
}


