.components-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    height: 100%;
    overflow: auto;
    padding: 32px;
    box-sizing: border-box;
    grid-auto-flow: dense;
}

.components-view .component {
    min-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--vaadin-border-color);
    border-radius: var(--vaadin-radius-l);
    background: var(--aura-surface-color);
    padding: 16px 24px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    --aura-surface-level: 1;
}

.components-view .component.tall {
    height: 100%;
    min-height: 400px;
    grid-row: span 2 / span 2;
}

.components-view .component.wide {
    width: 100%;
    min-width: 400px;
    grid-column: span 2 / span 2;
}
