.components-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    height: 100%;
    overflow: auto;
    padding: 32px;
    box-sizing: border-box;
    grid-auto-flow: dense;
}

.components-view .component {
    min-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 1em;
    background-color: rgba(255,255,255,0.33);
    padding: 16px 24px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.components-view .component.tall {
    height: 100%;
    min-height: 400px;
    grid-row: span 2 / span 2;
}
